/* 定制化代码样式，包括行内代码和代码块 */
.gdoc-markdown code {
    font-family: Monaco,Consolas,Menlo,dejavu sans mono,bitstream vera sans mono,courier new,monospace
}

/* 定制化行内代码样式 */
.gdoc-markdown p code {
    /* 设置颜色 */
    color: #FF6A6A;
    /* 设置字体加粗 */
    font-weight: bold;
}

/* 定制化表格内代码样式 */
.gdoc-markdown table code {
    /* 设置颜色 */
    color: #FF6A6A;
    /* 设置字体加粗 */
    font-weight: bold;
}